




*
        {
            margin:0px;
            padding:0px;
        }
        body
        {
            background-color: greenyellow;
            /* display: flex; */
            /* justify-content: center; */
            /* align-items: center; */
        }
        #container
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2em;
            margin-top: 10em;
        }
        #buttons
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btn
        {
            padding: 1rem;
            margin: 1rem;
            font-size: 1.5rem;
        }
        .btn:hover
        {
            /* animation-duration: 1s; */
            transform: scale(1.2);
            /* transform-style: flat; */
            transition-duration: 0.5s;
            cursor: pointer;
            background-color: green;
            border-radius: 20px;
            font-weight: bold;
        }
        .time
        {
            font-size: 5rem;
    margin: 14px;
            /* border: 2px solid red; */
        }
        .ratio
        {
            font-size: 83px;
        }
        span{
            color: grey;
            font-size: 21px;
        }
        #start
        {
            background-color: green;
        }
        #pause
        {
            background-color: blue;
        }
        #reset
        {
            background-color: red;;
        }
        #clock
        {
            background-color: aqua;
            display: flex;
            justify-content: center;
            margin: auto;
        }
        a
        {
            text-decoration: none;

        }